<div class="right">
    <small> (by <%= quiz.author ? quiz.author.username : "Anonymous" %> )</small>
</div>

<h1>
    Random Play:
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<div class="quizItem">
	<div>
		<% var attachment = quiz.attachment; %>
		<% include ../attachments/_show %>
	</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <% include ../favourites/_stars.ejs %>

    <p>
        Question: <b><%= quiz.question %></b>
    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Answer" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Check">
    </div>


</form>
</div>

<h1>Tips:</h1>


<% var tips = quiz.tips; %>
<% var quizId = quiz.id; %>
<% var quizAuthorId = quiz.authorId; %>
<% include ../tips/index %>
